.clickColor {
    color: white;
}

.clickBg {
    background-color: black;
}

img{
    width: 80px!important;
}
td{
  width: max-content;
}
input {
  border: 2px solid #737889!important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: max-content;
  }
  
  td, th {
    border: 2.5px solid #dddddd;
    padding: 20px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tap-highlight-transparent{
    font-size: larger;
    margin: 6px 15px;
  }

  .text-gray-800{
    margin-left: -10px;
  }

  label{
    font-weight: bolder;
  }

  /* .dropbtn {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  } */

  table{
    width: 100%;
  }

  select{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  th{
    font-size: 14px;
  }
  
